---
import styles from './Header.module.css'
---

<header class={styles.header}>
  <a href="/" class={styles.logo}>CassiGS Studio</a>
  <nav class={styles.nav}>
    <a href="#" class={styles.navLink}>Journal</a>
    <a href="#" class={styles.navLink}>Work</a>
    <a href="#" class={styles.navLink}>About</a>
  </nav>
</header>
