---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../lib/util";

import { Image } from "astro:assets";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<li>
  <a href={`/posts/${post.id}`} class="post-link">
    <!-- <img src={post.data.image} /> -->
      {post.data.image && (
        <Image
          src={post.data.image}
          alt={post.data.imageAlt || ""}
          class="post-image"
          draggable="false"
          loading="eager"
        />
        )}
    <span class="link">{post.data.title}</span>
    <div class="post-date">
      {formatDate(post.data.publicationDate)}
    </div>
  </a>
</li>

<style>
  .post-link {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-decoration: none;
  }

  .post-date {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: var(--color-muted-text);
  }
  :global(.dark) .post-date {
    color: var(--color-dark-muted-text);
  }
</style>
